@page {
  size: A4;
  padding: 0;
  margin: {
    left: 3cm;
    right: 1.5cm;
    top: 2cm;
    bottoM: 2cm;
  }

  @bottom-center {
    content: counter(page);
  }
}

@page empty {
  @bottom-center {
    content: unset;
  }
}
