.titlepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  break-after: page;
  page: empty;

  .institution, .heading, .date {
    text-align: center;
  }
}

.titlepage .heading h1 {
  margin: 0;
}

.requisite {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.requisite_three {
  grid-template-columns: 1fr max-content max-content;
}

.requisite-role {
  grid-column: 1 / -1;

  &:not(:first-of-type) {
    margin-top: 1lh;
  }
}

.fill-in-simple {
  display: inline-block;
  vertical-align: baseline;
  border-bottom: 1px solid currentColor;
}

.fill-in {
  position: relative;

  .fill-in__title {
    position: absolute;
    inset-inline: 0;
    top: 100%;
    font-size: 0.7em;
    font-style: italic;
    border-top: 1px solid currentColor;
    text-align: center;
    line-height: 1;
  }

  .fill-in__title_a {
    top: calc(12pt * var(--font-line-skip));
  }
}
